.conttweet{
  margin: auto;
  width: 100%;
}
.tweet{
  margin:  5px 0 0 0;
  background-color: white;
  box-shadow: 0px 0px 0.5px 0px #e0dede
  /*border-radius: 5px;*/
}
.conttweet:first-child{
  border-radius: 5px;
}
.tweet:hover{
  background-color: #F5F8FA;
  box-shadow: 0px 0px 0.5px 0px #e0dede;

}
.avatar{
  display:inline-block;
}
.avatar > img {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
}
.data{
  vertical-align: top;
  display: inline-block;
  width: 570px;
  height: 100%;
  margin: 5px;
}
.data > .content > p {
  margin: 5px 0 5px 0;
  font-size: 0.9em;
}

.gray {
  margin: 0 0 0 10px;
  color: gray;
  font-size: 0.8em;
}
.date {
  font-style: italic;
}
.trash {
     cursor:  pointer;
}
